h2 {
  font-weight: bold;
  color:rosybrown;
  text-decoration: underline;
  font-family:cursive;
  text-align:center;
}
body {
  background: white;
}
p {
  color: black;
}

.nothing{
  color:rgb(155,100,125);
  font-size: 50px;
    
  
  


}
  
  

